@import "variables";
@import "mixins";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $fonts;
  color: $dark-grey;
}

.navbar {
  background-color: $app-color-secondary;
  color: $app-color-highlight;
  position: sticky;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .logo {
    font-size: 1.5rem;
    margin: 0.5rem;
    img {
      width: 50%;
    }
  }
  .navbar-links {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      font-size: 1.5rem;
      li {
        list-style: none;
        transition: background-color 0.1s ease;
        border-radius: 100px;
        a {
          padding: 1rem;
          display: block;
          text-decoration: none;
          color: $app-color-highlight;
        }
        &:hover {
          background-color: $white;
        }
      }
    }
  }
  .toggle-button {
    z-index: 1000;
    position: absolute;
    top: 5rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
    .bar {
      height: 3px;
      width: 100%;
      background-color: $app-color-highlight;
      border-radius: 10px;
      transition: transform 0.2s linear;
    }
  }
}

.wrapper-new {
  flex-wrap: wrap;
  display: flex;
  // width: 100vw;
  justify-content: space-evenly;
  h2 {
    margin-top: 2rem;
  }
  .card {
    margin-bottom: 1rem;
    display: flex;
    height: fit-content;
    box-shadow: 10px 10px 5px $grey;
    transition: transform 0.2s ease;
    &:hover {
      transform: scale(1.05);
    }
    img {
      width: 100%;
      height: 300px;
    }
  }
}

.wrapper-events {
  flex-wrap: wrap;
  display: flex;
  // width: 100vw;
  justify-content: space-evenly;
  .event-card {
    margin: 1rem;
    width: 20vw;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    border: 1px solid $black;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 10px 10px 10px $grey;
    h2 {
      text-align: start;
    }
  }
}

.line {
  margin-top: 2rem;
  border-top: 3px dotted $app-color-secondary;
}

.news-index,
.events-index {
  padding: 2rem;
  text-align: center;
}

.book-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .book-card {
    margin: 1rem;
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $black;
    border-radius: 20px;
    box-shadow: 10px 1px 40px $grey;
    .book-cover {
      padding: 1rem;
      img {
        box-shadow: 5px 5px 5px $grey;
      }
    }
    .article {
      padding: 1rem;
      p {
        margin-bottom: 0.5rem;
        line-height: 1.5;
      }
      .author {
        font-size: 1rem;
        font-style: italic;
      }
    }
  }
}

.events,
.news {
  padding: 2rem;
  text-align: center;
}

@media screen and (max-width: 700px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    .toggle-button {
      display: flex;
      &.active {
        .bar-1 {
          transform: rotate(45deg) translate(6.5px, 6.5px);
        }
        .bar-2 {
          opacity: 0;
        }
        .bar-3 {
          transform: rotate(-45deg) translate(6.5px, -6.5px);
        }
      }
    }
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    width: 100%;
    padding: 0.5rem 1rem;
    margin: 0;
  }

  .navbar-links li:hover {
    background-color: #ffffff;
    border-radius: 1px;
    width: 100%;
  }

  .navbar-links.active {
    display: flex;
  }

  .wrapper-events {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .event-card {
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
  }

  .book-wrapper {
    flex-direction: column;
    text-align: center;
  }

  .book-card {
    text-align: left;
    flex-direction: column;
    // width: 100vw;
  }
}
/* Sami fixar?? */
// footer {
//   background-color: $app-color-secondary;
// }
